<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="ISO-8859-1">
    <title>Stocks Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="StockCtrl">
<h1><b>Stock Portfolio</b></h1>
<div class="container">
    <div data-ng-init="onloadFun()">
    <form>
        <div class="row">
            <div class="col-25">
                <label for="stockName"><b>Stock Name</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="stockName" name="stockName" placeholder="Stock Name" ng-model="stockToBeAdded.stockName" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="currentPrice"><b>Stock Current Price</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="currentPrice" name="currentPrice" placeholder="Stock Current Price" ng-model="stockToBeAdded.currentPrice" required>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Add Stock up" ng-click="addStock(stockToBeAdded)">
        </div>
    </form>
    </div>
</div>
<!-- Search Stock-->
<div class="container">
<form>
    <div class="row">
        <div class="col-25">
            <label for="stockID"><b>Search for your stock here</b></label>
        </div>
        <div class="col-75">
            <input type="text" id="stockId" name="stockId" placeholder="Stock ID" ng-model="stockId" required>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Search Stock" ng-click="getStock(stockId)">
    </div>
</form>
    <div class="container">
        <table id="stocksS" ng-if="shouldShowSearchTable">
            <tr>
                <th>Stock ID</th>
                <th>Stock Name</th>
                <th>Current Price</th>
                <th>Last Updated Time</th>
            </tr>
            <tr>
                <td><input type="text" ng-model="stock.stockId" disabled/></td>
                <td><input type="text" ng-model="stock.stockName" disabled/></td>
                <td><input type="text" ng-model="stock.currentPrice" disabled/></td>
                <td><input type="text" ng-model="stock.lastUpdated" disabled/></td>
            </tr>
        </table>
    </div>
</div>
<!-- Get all stocks Stock and update-->
<div class="container">
    <form>
    <table id="stocks">
        <tr>
            <th>Stock ID</th>
            <th>Stock Name</th>
            <th>Current Price</th>
            <th>Last Updated Time</th>
            <th>Update Details</th>
        </tr>
        <tr ng-repeat="stock in stocks">
            <td><input type="text" id="id" ng-model="stock.stockId" disabled/></td>
            <td><input type="text" id="name" ng-model="stock.stockName" required/></td>
            <td><input type="text" id="currPrice" ng-model="stock.currentPrice" required/></td>
            <td><input type="text" id="lastUpdate" ng-model="stock.lastUpdated" disabled/></td>
            <td>
                <button type="submit" ng-click="updateStock(stock)">Update</button>
            </td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>