* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
   background-color: #c19962;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: left;
   margin-left: 755px;
   margin-top: 20px;
 }

 input[type=submit]:hover {
   background-color: #45a049;
 }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#stocks {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }

 #stocks td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
 }

 #stocks tr:nth-child(even){background-color: #f2f2f2;}

 #stocks tr:hover {background-color: #ddd;}

 #stocks th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #c19962;
   color: white;
 }

 #stocksS {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }

 #stocksS td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
 }

 #stocksS tr:nth-child(even){background-color: #f2f2f2;}

 #stocksS tr:hover {background-color: #ddd;}

 #stocksS th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #c19962;
   color: white;
 }
